.custom-modal {
	--close-btn-size: 48px;
	font-family: 'museosans', sans-serif;

	.modal-body {
		padding-inline: 0;

		p {
			color: #000;
		}

		ol {
			padding-left: 16px;
			color: #000;
		}
	}

	.modal-dialog {
		width: 80% !important;
		max-width: 828px !important;
		margin-inline: auto;
	}

	.modal-atention p {
		color: #000;
	}
}

.custom-modal .modal-header {
	display: block;
	padding: 0;
	border: 0;

	.rating {
		gap: 6px;
		margin: 0;
		padding: 0;
		list-style: none;
		display: flex;
	}

	h5 {
		font-size: 20px;
	}

	ul.info {
		display: flex;
		list-style: none;
		margin: 0;
		padding-block: 10px;
		padding-inline: 0;
		border-top: 1px solid rgba(0, 0, 0, 0.06);
		border-bottom: 1px solid rgba(0, 0, 0, 0.06);
		gap: 36px;

		li.info__item {
			grid-template-columns: max-content 1fr;
			align-content: center;
			column-gap: 7px;
			display: grid;

			.icon {
				grid-row: span 2;
				align-self: center;
				width: clamp(38px,3vw,48px);
    		height: clamp(38px,3vw,48px);

				svg {
					width: 100%;
					height: 100%;
				}
			}

			.info__text {
				grid-column: 2/3;
				align-self: end;
				font-size: 12px;
				color: #555;
			}

			.info__date {
				grid-column: 2/3;
				align-self: start;
				font-size: 14px;
				color: #000;
			}
		}
	}
}

.custom-modal .modal-content .custom-close {
	width: var(--close-btn-size);
	height: var(--close-btn-size);
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 100%;
	background: #FFF;
	box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.02), 0px 1px 6px -1px rgba(0, 0, 0, 0.02), 0px 1px 2px 0px rgba(0, 0, 0, 0.03);
	position: absolute;
	top: calc(var(--close-btn-size)/-2);
	right: calc(var(--close-btn-size)/-2);
	opacity: 1;
	&:focus {
		outline: none;
	}
}

.custom-modal .modal-content {
	padding: 24px;
	border-radius: 24px;
	box-shadow: unset;
	position: relative;
	border: none;
}

.custom-modal .modal-header .close {
	position: absolute;
	top: -16px;
	right: -16px;
	border-radius: 100%;
	padding: 0;
	margin: 0;
	background: #fff;
	opacity: 1;
	width: 48px;
	height: 48px;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.02), 0px 1px 6px -1px rgba(0, 0, 0, 0.02), 0px 1px 2px 0px rgba(0, 0, 0, 0.03);
}

.custom-modal .modal-header .close svg {
	flex-shrink: 0
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}