@font-face {
	font-family: museosans;
	font-weight: 900;
	src: url(https://font.static.useinsider.com/coraltravel/museosanscyrl-900-webfont.ttf)
}

@font-face {
	font-family: museosans;
	font-weight: 700;
	src: url(https://font.static.useinsider.com/coraltravel/museosanscyrl-700-webfont.ttf)
}

@font-face {
	font-family: museosans;
	font-weight: 400;
	src: url(https://font.static.useinsider.com/coraltravel/museosanscyrl-500-webfont.ttf)
}

@font-face {
	font-family: museosans;
	font-weight: 300;
	src: url(https://font.static.useinsider.com/coraltravel/museosanscyrl-300-webfont.ttf)
}

:root {
	--scroll-padding-top: 400px;
}

html {
	scroll-behavior: smooth;
	scroll-padding-top: var(--scroll-padding-top);
}


section.hotel-promotions aside {
	grid-area: Aside
}

.subpage-search-bg>.background:before {
	display: none
}

.bcrumb .breadcrumb-item>a,
.breadcrumb-item+.breadcrumb-item:before,
.bcrumb .breadcrumb-item.active {
	color: #000 !important
}

.bcrumb .breadcrumb-item.active:after {
	background-color: #000 !important
}

div.notcritical>div.container div.row:nth-child(2) .leftcol {
	display: none
}

div.notcritical>div.container div.row:nth-child(2) .rightcol {
	flex: unset;
	max-width: unset
}

[data-module=leftSiblingMenu] {
	background-color: #fff;
	border-radius: 12px;
	flex-direction: column;
	gap: 8px;
	padding: 1em 8px 8px;
	font-family: museosans, sans-serif;
	display: flex;
	position: sticky;
	top: 10em;
	margin: 0 !important
}

[data-module=leftSiblingMenu] label.leftSiblingMenuTitle {
	color: #000;
	margin: 0;
	padding-left: 24px;
	font-size: 18px;
	line-height: 1.2
}

[data-module=leftSiblingMenu] ul.leftSiblingMenu {
	flex-direction: column;
	gap: 8px;
	margin: 0;
	display: flex
}

[data-module=leftSiblingMenu] ul.leftSiblingMenu .minus:before,
[data-module=leftSiblingMenu] ul.leftSiblingMenu div.slide:before {
	display: none
}

[data-module=leftSiblingMenu] ul.leftSiblingMenu li {
	padding: 0
}

[data-module=leftSiblingMenu] ul.leftSiblingMenu li a {
	color: #000;
	border-radius: 8px;
	width: 100%;
	padding: 9px 24px;
	font-size: 14px;
	line-height: 1.5;
	transition: all .3s
}

[data-module=leftSiblingMenu] ul.leftSiblingMenu li a:hover {
	color: #0093d0
}

[data-module=leftSiblingMenu] li.selected span {
	border-radius: 8px;
	width: 100%;
	font-size: 14px;
	line-height: 1.5;
	color: #0093d0 !important;
	background: #e6f4ff !important;
	padding: 9px 24px !important
}

section.hotel-promotions>nav {
	z-index: 2;
	grid-area: Nav;
	font-family: museosans, sans-serif;
	position: sticky;
	top: 10em;
	align-self: start;
}

section.hotel-promotions>nav:after {
	content: "";
	background: #f1f7fc;
	width: 100%;
	height: 30px;
	display: block;
	position: absolute;
	top: -21px;
	left: 0
}

section.hotel-promotions h4 {
	color: #0093d0;
	font-family: museosans, sans-serif;
	font-size: 18px
}

section.hotel-promotions>nav .promotions h4 {
	margin: 0;
	padding-left: 12px
}

section.hotel-promotions>nav a:focus,
section.hotel-promotions>nav button:focus {
	cursor: pointer;
	outline: none
}

section.hotel-promotions>nav .navigation {
	z-index: 2;
	background-color: #fff;
	border-radius: 8px;
	width: 100%;
	position: relative;
}

@media (max-width:1024px) {
	section.hotel-promotions>nav .navigation {
		display: grid;
		grid-template-columns: 1fr max-content;
		gap: 1em;
	}
}

section.hotel-promotions>nav .navigation>label {
	border-top-left-radius: 1em;
	border-top-right-radius: 1em;
	justify-content: space-between;
	align-items: center;
	margin: 0;
	padding: 16px 1em 1em 1em;
	display: flex
}

@media (max-width:768px) {
	section.hotel-promotions>nav .navigation>label {
		padding: 1em;
	}
}

section.hotel-promotions>nav .navigation>label .icon {
	transition: transform .3s;
	transform: rotate(180deg)
}

section.hotel-promotions>nav .navigation>label h4 {
	margin-bottom: 0
}

section.hotel-promotions>nav .navigation>label .icon {
	cursor: pointer;
	width: 32px;
	height: 32px;
	display: none
}

section.hotel-promotions>nav .navigation .dropdown {
	opacity: 0;
	border-bottom-right-radius: 12px;
	border-bottom-left-radius: 12px;
	grid-template-rows: 0fr;
	transition: all .3s .1s;
	display: grid;
	position: absolute;
	top: 56px;
	right: 0;
	box-shadow: 0 2px 8px #63636300
}

section.hotel-promotions>nav .navigation .dropdown .dropdown__content {
	border-bottom-right-radius: 12px;
	border-bottom-left-radius: 12px;
	transition: all .3s;
	overflow: hidden
}

section.hotel-promotions>nav .navigation-list-wrapper {
	grid-row: 2/3;
	align-self: center;
	padding-inline: 1em
}

section.hotel-promotions>nav .navigation-list {
	gap: 1em;
	margin: 0;
	padding: 8px !important;
	list-style: none;
	display: flex;
	flex-direction: column;

}

@media (max-width: 768px) {
	section.hotel-promotions>nav .navigation-list {
		scroll-snap-type: x mandatory;
		overflow-x: scroll;
	}
}


section.hotel-promotions>nav .navigation-list::-webkit-scrollbar {
	display: none
}

section.hotel-promotions>nav .promotions::-webkit-scrollbar {
	display: none
}

section.hotel-promotions>nav .navigation-list__item {
	scroll-snap-align: center;
	align-items: center;
	display: flex
}

section.hotel-promotions>nav .navigation-list__item button {
	border: none;
	border-radius: 8px;
	padding: 0.5em 2em 0.5em 15px;
	font-size: 14px;
	font-weight: 400;
	text-decoration: none;
	transition: all .3s;
	display: block;
	width: 100%;
	text-align: left;
	background-color: #fff;
	color: #000;
}

section.hotel-promotions>nav .navigation-list__item button:hover {
	color: #0093d0;
	cursor: pointer;
}

section.hotel-promotions>nav .navigation-list__item button.js-active {
	color: #0093D0;
	background-color: #E6F4FF;
}

section.hotel-promotions>nav .navigation__btns {
	grid-area: 2/2/3/3;
	align-self: center;
	align-items: center;
	gap: 4px;
	margin-right: 1em;
	display: flex
}

@media (max-width:768px) {
	section.hotel-promotions>nav .navigation__btns {
		display: none
	}
}

section.hotel-promotions>nav .navigation__btn {
	cursor: pointer;
	border: 1px solid #00000026;
	border-radius: 8px;
	width: 40px;
	height: 40px;
	margin: 0;
	padding: 0;
	transition: transform .3s;
	box-shadow: 0 2px #00000005
}

section.hotel-promotions>nav .navigation__btn:active {
	transform: translateY(3px)
}

section.hotel-promotions>nav .navigation__btn--left {
	background-color: #fff;
	background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.666 5.833 7.5 10l4.166 4.167' stroke='%23535353' stroke-linejoin='round'/%3E%3C/svg%3E"), none;
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: 50%;
	background-attachment: scroll, scroll;
	background-origin: padding-box, padding-box;
	background-clip: border-box, border-box;
	display: none;
}

section.hotel-promotions>nav .navigation__btn--right {
	background-color: #fff;
	background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.5 5.833 11.667 10 7.5 14.167' stroke='%23535353' stroke-linejoin='round'/%3E%3C/svg%3E"), none;
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: 50%;
	background-attachment: scroll, scroll;
	background-origin: padding-box, padding-box;
	background-clip: border-box, border-box;
	display: none;
}

#link-drop:checked~.dropdown {
	opacity: 1;
	grid-template-rows: 1fr;
	box-shadow: -10px 10px 10px -10px #2123261a
}

#link-drop:checked~.dropdown-label .icon {
	transform: rotate(0)
}

section.hotel-promotions {
	grid-column-gap: 16px;
	grid-template-columns: 20% 1fr;
	grid-template-areas:
		"Nav Content"
		"Nav Content";
	align-content: start;
	padding-inline: 8px;
	display: grid;
	position: relative
}

@media (max-width:1006px) {
	section.hotel-promotions {
		padding-top: 2em
	}
}

@media (max-width:1006px) {
	section.hotel-promotions nav {
		top: 2em
	}

	section.hotel-promotions nav:after {
		top: -25px
	}
}

ol.breadcrumb {
	padding-left: 8px !important
}

section.hotel-promotions>article {
	grid-area: Content;
	background: #ffffff;
	border-radius: 8px;
	border: 1px solid #0000000f;
	padding-top: 0.8em;
}

section.hotel-promotions>article .promotions {
	z-index: 1;
	border-radius: 1em;
	flex-direction: column;
	gap: 0.8em;
	width: 100%;
	padding-bottom: 20px;
	display: flex;
	position: relative;
}

section.hotel-promotions>article .promotions-list {
	flex-direction: column;
	gap: .8em;
	margin: 0;
	padding-inline: 8px !important;
	font-family: museosans, sans-serif;
	list-style: none;
	display: flex
}

section.hotel-promotions>article .promotions-list h4 {
	padding-left: 8px;
	margin-block: 6px;
}

section.hotel-promotions>article .promotions-list__item {
	background-color: #fff;
	border: 1px solid #0000000f;
	border-radius: 12px;
	grid-template-columns: 25% 1fr;
	gap: 16px;
	padding: 6px;
	display: grid;
	box-shadow: 0 3px 12px #0000000d;
}

@media (max-width:768px) {
	section.hotel-promotions>article .promotions-list__item {
		grid-template-columns: 1fr
	}
}

section.hotel-promotions>article .promotions-list__item .picture {
	position: relative;
}

section.hotel-promotions>article .promotions-list__item .picture>img {
	display: block;
	object-fit: cover;
	border-radius: 6px;
	width: 100%;
	height: 100%;
	position: absolute;
}

@media (max-width:768px) {
	section.hotel-promotions>article .promotions-list__item .picture>img {
		width: 100%
	}
}

section.hotel-promotions>article .rating {
	gap: 6px;
	margin: 0 0 8px;
	padding: 0 !important;
	list-style: none;
	display: flex;
}

section.hotel-promotions>article .rating__item {
	width: 16px;
	height: 16px
}

section.hotel-promotions>article .rating__item svg {
	display: block
}

section.hotel-promotions>article .content {
	flex-direction: column;
	padding: 8px;
	display: flex
}

section.hotel-promotions>article .content h5 {
	margin-top: 0;
	margin-bottom: 6px;
	font-size: 16px;
	line-height: 1
}

section.hotel-promotions>article .content p {
	color: #777;
	font-size: 12px
}

section.hotel-promotions>article .content .location {
	margin-top: 0;
	margin-bottom: 8px;
	line-height: 1.3
}

@media (max-width:768px) {
	section.hotel-promotions>article .content .location {
		margin-bottom: 6px
	}
}

section.hotel-promotions>article .content .description {
	margin-block: auto;
}

section.hotel-promotions>article .content .description>p {
	color: #000;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
	-ms-line-clamp: 2;
	-webkit-line-clamp: 2;
	line-clamp: 2;
	display: -webkit-box;
	display: box;
	word-wrap: break-word;
	box-orient: vertical;
	-webkit-box-orient: vertical;
	margin-block: auto;
	font-weight: 400;
	overflow: hidden;
	font-size: 14px;
}

section.hotel-promotions>article .content .wrapper {
	flex-wrap: wrap;
	justify-content: start;
	gap: 8px;
	align-items: start;
	margin-top: 6px;
	display: flex;
	width: 100%;
	flex-direction: column;
}

@media (max-width:768px) {
	section.hotel-promotions>article .content .wrapper {
		gap: 12px;
		margin-top: 16px
	}
}

section.hotel-promotions>article .content .wrapper .info {
	gap: 12px;
	padding: 0 !important;
	list-style: none;
	display: flex;
}

section.hotel-promotions>article .content .wrapper .info__item {
	grid-template-columns: max-content 1fr;
	align-content: center;
	column-gap: 7px;
	display: grid
}

section.hotel-promotions>article .content .wrapper .info__item .icon {
	grid-row: span 2;
	align-self: center;
	width: 38px;
	height: 38px;
}

section.hotel-promotions>article .content .wrapper .info__item svg {
	width: 100%;
	height: 100%;
	display: block
}

@media (max-width:515px) {
	section.hotel-promotions>article .content .wrapper .info__item {
		grid-template-columns: 1fr
	}

	section.hotel-promotions>article .content .wrapper .info__item .icon {
		grid-row: 1/2
	}
}

section.hotel-promotions>article .content .wrapper .info__item .info__text {
	color: #777
}

section.hotel-promotions>article .content .wrapper .info__item .info__date {
	color: #000;
	font-weight: 400
}

section.hotel-promotions>article .content .wrapper .info__item .info__text,
section.hotel-promotions>article .content .wrapper .info__item .info__date {
	grid-column: 2/3;
	font-size: 10px
}

section.hotel-promotions>article .content .wrapper .info__item .info__text {
	align-self: end
}

section.hotel-promotions>article .content .wrapper .info__item .info__date {
	align-self: start
}

@media (max-width:515px) {
	section.hotel-promotions>article .content .wrapper .info__item .info__text {
		grid-area: 2/1/3/2
	}

	section.hotel-promotions>article .content .wrapper .info__item .info__date {
		grid-area: 3/1/4/2
	}
}

section.hotel-promotions>article .promotions-list__item .actions {
	column-gap: 12px;
	display: flex;
	margin-top: auto;
	margin-left: auto;
}

@media (max-width:768px) {
	section.hotel-promotions>article .promotions-list__item .actions {
		flex-direction: column;
		row-gap: 6px;
		width: 100%
	}
}

section.hotel-promotions>article .promotions-list__item .actions button,
section.hotel-promotions>article .promotions-list__item .actions a {
	font-family: inherit;
	line-height: inherit;
	cursor: pointer;
	background: #f0ab00;
	border: 0;
	border-radius: .5em;
	justify-content: center;
	align-items: center;
	height: 2.6em;
	padding: 0 1.5em;
	text-decoration: none;
	transition: all .3s;
	display: inline-flex;
	font-size: inherit !important;
	color: #fff !important;
	outline: none !important
}

section.hotel-promotions>article .promotions-list__item .actions button {
	background: 0 0;
	border: 1px solid #000;
	transition: all .3s;
	color: #000 !important
}

section.hotel-promotions>article .promotions-list__item .actions button:hover {
	border: 1px solid #f0ab00;
	color: #f0ab00 !important
}

section.hotel-promotions>article .promotions-list__item .actions a:hover {
	background: #e27300 !important
}

section.hotel-promotions>article .promotions-list__item .actions a,
section.hotel-promotions>article .promotions-list__item .actions button {
	text-transform: uppercase;
	border-radius: 8px !important;
	padding: 0 1.5em !important;
	font-size: 14px !important
}

.custom-modal {
	--close-btn-size: min(10vw, 40px);
	font-family: museosans, sans-serif
}

@media (max-width:768px) {
	.custom-modal {
		padding-right: 0 !important
	}
}

.custom-modal .modal-body {
	padding-inline: 0;
	padding-bottom: 0;
	font-size: 14px;
}

.custom-modal .modal-body p {
	color: #000
}

.custom-modal .modal-body ol {
	color: #000;
	padding-left: 16px
}

.custom-modal .modal-body [data-description] p {
	margin-bottom: 0.5em;
}

.custom-modal .modal-body [data-description] .description-list,
.custom-modal .modal-body [data-conditions] ul {
	padding-left: 25px;
	color: #000;
}

.custom-modal .modal-body [data-conditions] ul li {
	font-size: 14px;
	color: #000;
}

.custom-modal .modal-body [data-conditions] h6 {
	font-weight: 600;
	font-size: 16px;
}

.custom-modal .modal-dialog {
	margin-inline: auto;
	width: 80% !important;
	max-width: 828px !important;
	margin-block: .5rem;
}

.custom-modal .modal-atention p {
	color: #000;
	font-size: 14px;
	font-weight: 600;
}

.custom-modal .modal-header {
	border: 0;
	padding: 0;
	display: block
}

.custom-modal .modal-header .rating {
	gap: 6px;
	margin: 0 0 6px 0;
	padding: 0;
	list-style: none;
	display: flex
}

.custom-modal .modal-header h5 {
	font-size: 20px
}

.custom-modal .modal-header ul.info {
	border-top: 1px solid #0000000f;
	border-bottom: 1px solid #0000000f;
	flex-wrap: wrap;
	gap: min(1vh, 24px) min(5%, 36px);
	margin: 0;
	padding-block: 10px;
	padding-inline: 0;
	list-style: none;
	display: flex;
}

.custom-modal .modal-header ul.info li.info__item {
	grid-template-columns: max-content 1fr;
	align-content: center;
	column-gap: 7px;
	display: grid
}

.custom-modal .modal-header ul.info li.info__item .icon {
	grid-row: span 2;
	align-self: center;
	width: clamp(38px, 3vw, 48px);
	height: clamp(38px, 3vw, 48px)
}

.custom-modal .modal-header ul.info li.info__item .icon svg {
	width: 100%;
	height: 100%
}

.custom-modal .modal-header ul.info li.info__item .info__text {
	color: #555;
	grid-column: 2/3;
	align-self: end;
	font-size: 12px
}

.custom-modal .modal-header ul.info li.info__item .info__date {
	color: #000;
	grid-column: 2/3;
	align-self: start;
	font-size: 14px
}

.custom-modal .modal-content .custom-close {
	width: var(--close-btn-size);
	height: var(--close-btn-size);
	top: calc(var(--close-btn-size)/-2);
	right: calc(var(--close-btn-size)/-2);
	opacity: 1;
	background: #fff;
	border-radius: 100%;
	justify-content: center;
	align-items: center;
	display: flex;
	opacity: 1;
	position: absolute;
	box-shadow: 0 2px 4px #00000005, 0 1px 6px -1px #00000005, 0 1px 2px #00000008
}

.custom-modal .modal-content .custom-close:hover {
	opacity: 1;
}

.custom-modal .modal-content .custom-close:focus {
	outline: none
}

.custom-modal .modal-content {
	box-shadow: unset;
	border: none;
	border-radius: 24px;
	padding: min(5%, 24px);
	position: relative
}

.custom-modal .modal-header .close {
	opacity: 1;
	background: #fff;
	border-radius: 100%;
	justify-content: center;
	align-items: center;
	width: 48px;
	height: 48px;
	margin: 0;
	padding: 0;
	display: flex;
	position: absolute;
	top: -16px;
	right: -16px;
	box-shadow: 0 2px 4px #00000005, 0 1px 6px -1px #00000005, 0 1px 2px #00000008
}

.custom-modal .modal-header .close svg {
	flex-shrink: 0
}

@media (max-width:768px) {
	body.modal-open {
		padding-right: 0 !important
	}
}

.contentLayout-BaseContainer .notcritical .container {
	margin-top: 0 !important
}

.contentLayout-BaseContainer .notcritical {
	padding-top: 0 !important
}

.visually-hidden {
	white-space: nowrap;
	-webkit-clip-path: inset(100%);
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	border: 0;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	position: absolute;
	overflow: hidden
}

.oti-content-typography ul li:before,
.oti-content-typography ul li:after {
	display: none;
}

h1 {
	display: none;
}

@media (max-width: 590px) {
	section.hotel-promotions {
		padding-inline: 0;
	}

	section.hotel-promotions nav {
		top: 6.5em;
	}

	.custom-modal .modal-dialog {
		margin-block: 4vh;
	}
}

[data-target="promotion-modal"] {
	transition: color 0.3s ease;
	padding: 0;
	background: transparent;
	border: none;
	color: #0093d0;
	font-size: 14px;
}

[data-target="promotion-modal"]:hover {
	color: #e50f4f;
	cursor: pointer;
}

[data-target="promotion-modal"]:focus {
	outline: none;
}

.widgetcontainer {
	margin-bottom: 0;
}

@media (max-width: 1024px) {
	section.hotel-promotions {
		grid-template-areas:
			"Nav Nav"
			"Content Content";
	}

	section.hotel-promotions>nav .navigation {
		display: grid;
		grid-template-columns: 1fr min-content;
		box-shadow: 0 3px 12px #0000000d;
		gap: 0;
	}

	section.hotel-promotions>nav .navigation-list {
		flex-direction: row;
		padding: 8px 1em 1em 1em !important;
	}

	section.hotel-promotions>nav .navigation>label {
		grid-column: span 2;
	}

	section.hotel-promotions>nav .navigation-list__item button {
		padding: 0.5em 2em;
		text-align: center;
		color: #000000;
		background-color: transparent;
		border-radius: 18px;
	}

	section.hotel-promotions>nav .navigation-list__item button.js-active {
		color: #ffffff;
		background-color: #0093D0;
	}

	section.hotel-promotions>article {
		padding-top: 1.5em;
		margin-top: -0.8em;
	}

	section.hotel-promotions>article .promotions-list__item .picture>img {
		position: relative;
		height: 250px;
	}
}

.rating__item>svg {
	display: block;
}

@media (max-width: 768px) {
	[data-target="promotion-modal"] {
		transition: all 0.3s ease;
		background: transparent;
		color: #000000;
		border: 1px solid #000000;
		width: 100%;
		text-transform: uppercase;
		border-radius: 8px;
		padding: 0 1.5em;
		font-size: 13px;
		height: 2.6em;
	}

	[data-target="promotion-modal"]:hover {
		color: #f0ab00;
		cursor: pointer;
		border: 1px solid #f0ab00;
	}
}

@media (max-width: 576px) {
	.custom-modal .modal-dialog {
		width: auto !important;
		max-width: unset !important;
		margin: 0 !important;
		border-top-left-radius: 12px;
		border-top-right-radius: 12px;
		background-color: #fff;
		position: relative;
		flex-direction: column;
	}

	.scroll-container {
		overflow-y: scroll;
		height: calc(80vh - 25%);
		padding-inline: min(5%, 24px);
		padding-bottom: 1em;
		padding-top: 0;
	}

	.custom-modal .modal-content {
		padding: 0;
	}

	.custom-modal .modal-header {
		padding: min(5%, 24px);
		padding-top: 0;
	}

	.custom-modal .modal-body {
		padding-top: 0;
	}

	#promotion-modal .modal-dialog {
		transform: translateY(25%);
		opacity: 0;
		height: 80vh;
		transition: transform .3s ease, opacity .3s ease;
	}

	#promotion-modal.show .modal-dialog {
		transform: translateY(0);
		opacity: 1;
	}

	[data-swipe-close]>span {
		display: block;
		width: 60px;
		height: 3px;
		background: #0093D0;
		border-radius: 4px;
		margin-inline: auto;
		margin-block: 12px;
	}

	.custom-modal .modal-dialog::before {
		display: none;
	}

	.custom-modal .modal-content .custom-close {
		display: none;
	}

	.modal-open .custom-modal {
		display: flex !important;
		align-items: flex-end;
		overflow: hidden !important;
	}

	.custom-modal .modal-dialog-centered {
		min-height: unset !important;
	}
}
