@font-face {
	font-family: Bliss Normal;
	src: url("https://font.static.useinsider.com/sunmar/Bliss_Normal.ttf");
}

@font-face {
	font-family: BlissPro;
	src: url("https://font.static.useinsider.com/sunmar/BlissPro.ttf");
}

@font-face {
	font-family: BlissPro-Bold;
	src: url("https://font.static.useinsider.com/sunmar/BlissPro-Bold.ttf");
}

@font-face {
	font-family: BlissPro-Heavy;
	src: url("https://font.static.useinsider.com/sunmar/BlissPro-Heavy.ttf");
}

@font-face {
	font-family: BlissPro-Italic;
	src: url("https://font.static.useinsider.com/sunmar/BlissPro-Italic.ttf");
}

@font-face {
	font-family: BlissPro-Light;
	src: url("https://font.static.useinsider.com/sunmar/BlissPro-Light.ttf");
}

@font-face {
	font-family: BlissPro-Medium;
	src: url("https://font.static.useinsider.com/sunmar/BlissPro-Medium.ttf");
}



[data-module="leftSiblingMenu"] {
	display: none;
}

section.hotel-promotions {
	gap: 2em
}

section.hotel-promotions .contenu {
	max-width: 1440px;
	padding: 1em;
}

section.hotel-promotions nav .nav-wrapper {
	background-color: var(--white);
	border-radius: 8px;
	padding-block: 24px;
	padding-inline: 4px;
	position: sticky;
	top: 10em;
	box-shadow: 0 4px 20px #0000000f;
}

section.hotel-promotions nav h3 {
	color: var(--sunmar-main-blue);
	margin: 0 0 24px;
	padding-left: 16px;
	font-size: 24px;
	font-weight: 300;
}

section.hotel-promotions nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

section.hotel-promotions nav ul a {
	text-align: left;
	color: var(--black);
	border-radius: 4px;
	padding: 4px 16px;
	font-size: 16px;
	text-decoration: none;
	display: block;
}

section.hotel-promotions .promotions-list {
	padding: 0
}

section.hotel-promotions {
	font-family: var(--sunmar-font);
	grid-template-columns: 212px 1fr;
	align-content: start;
	padding-top: 24px;
	display: grid;
	position: relative;
}

section.hotel-promotions h2 {
	color: var(--white);
	width: 50%;
	margin: 0;
	font-size: 40px;
	font-weight: 300;
	line-height: 1;
}

section.hotel-promotions p {
	color: var(--white);
	width: 50%;
	margin: 0;
	font-size: 16px;
	font-weight: 300;
	line-height: normal;
}

section.hotel-promotions .promotion-list__poster {
	background: #7c7c7c;
	border-radius: 8px;
	flex-direction: column;
	align-content: center;
	gap: 24px;
	margin-bottom: 12px;
	padding: 60px;
	display: flex;
}

section.hotel-promotions .promotions-list__item {
	border-radius: 12px;
	grid-template-columns: 30% 1fr;
	gap: 16px;
	min-height: 183px;
	padding-block: 12px;
	display: grid;
}

section.hotel-promotions .promotions-list__item .content {
	display: flex;
	flex-direction: column;
}

/* Main Card Shadow */
section.hotel-promotions .promotions-list__item .picture {
	box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.06);
}

section.hotel-promotions .promotions-list__item .picture img {
	display: block;
	object-fit: cover;
	border-radius: 6px;
	width: 100%;
	height: 100%;
}

section.hotel-promotions .promotions-list__item .rating {
	gap: 6px;
	margin: 0 0 8px;
	padding: 0;
	list-style: none;
	display: flex;
}

section.hotel-promotions .promotions-list__item .rating .rating__item {
	width: 16px;
	height: 16px;
}

section.hotel-promotions .promotions-list__item .rating .rating__item svg {
	width: 100%;
	height: 100%;
}

section.hotel-promotions .promotions-list__item h3 {
	margin-top: 0;
	margin-bottom: 6px;
	font-size: 20px;
	font-weight: 300;
	line-height: 1;
}

section.hotel-promotions .promotions-list__item p {
	color: var(--black);
	width: 100%;
}

section.hotel-promotions .promotions-list__item p.description {
	margin-bottom: 8px;
}

section.hotel-promotions .promotions-list__item p.location {
	color: var(--sunmar-grey);
	margin-bottom: 16px;
}

section.hotel-promotions .promotions-list__item p.attention {
	color: var(--sunmar-grey);
	margin-top: 16px;
	margin-bottom: 24px;
}

section.hotel-promotions .promotions-list__item .info {
	gap: 32px;
	margin-bottom: 24px;
	padding: 0;
	list-style: none;
	display: flex;
}

section.hotel-promotions .promotions-list__item .info__item {
	grid-template-columns: max-content 1fr;
	align-content: center;
	column-gap: 16px;
	display: grid;
}

section.hotel-promotions .promotions-list__item .info__item .icon {
	grid-row: span 2;
	align-self: center;
	width: 32px;
	height: 32px;
}

section.hotel-promotions .promotions-list__item .info__text {
	color: #656565;
	font-size: 12px;
	font-weight: 300;
}

section.hotel-promotions .promotions-list__item .info__date {
	color: var(--black);
	font-size: 14px;
	font-weight: 600;
}

section.hotel-promotions .promotions-list__item .actions {
	gap: 20px;
	display: flex;
}

section.hotel-promotions .promotions-list__item .actions>a {
	background: var(--sunmar-gradient);
	color: var(--white);
	border-radius: 100px;
	flex-shrink: 0;
	justify-content: center;
	align-items: center;
	width: -moz-fit-content;
	width: fit-content;
	padding: 10px 30px;
	font-size: 20px;
	text-decoration: none;
	display: flex;
	height: fit-content;
}

section.hotel-promotions .promotions-list__item .actions>p {
	width: 50%;
	padding: 6px 16px;
	font-size: 12px;
	line-height: 1.3;
}

section.hotel-promotions .promotions-list__item button.show-more {
	font-size: inherit;
	cursor: pointer;
	color: var(--sunmar-grey);
	background-color: #0000;
	border: none;
	margin: 0;
	padding: 0;
	font-family: inherit;
}

section.hotel-promotions .promotions-list__item .flight-list {
	list-style: disc;
}

:root {
	--sunmar-font: "BlissPro", sans-serif;
	--sunmar-gradient: linear-gradient(225deg, #e7317d 0%, #d8242a 100%);
	--sunmar-main-blue: #0e2855;
	--sunmar-grey: #777;
	--black: #000;
	--white: #fff;
}

html {
	scroll-behavior: smooth;
}

.contentLayout-BaseContainer .notcritical .container {
	margin-top: 0 !important;
}

.contentLayout-BaseContainer .notcritical {
	padding-top: 0 !important;
}

.visually-hidden {
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	border: 0;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	position: absolute;
	overflow: hidden;
}

.notcritical .container .leftcol {
	display: none;
}

.notcritical .container .rightcol {
	max-width: unset;
	flex: 0 0 100%;
	padding: 0
}

[data-module="FourColumnTile"] .fourColumnTileMainContainer>.row {
	flex-direction: column;
}

[data-module="FourColumnTile"] .fourColumnTileMainContainer {
	background: #fff;
	border-radius: 8px;
	padding: 24px 4px;
}

[data-module="FourColumnTile"] .fourColumnTileMainContainer>.row {
	gap: 16px
}

[data-module="FourColumnTile"] .fourColumnTileMainContainer>.row>* {
	width: 100%;
	margin: 0 !important;
	padding: 0;
	max-width: unset
}


.fourColumnTileMainContainer .item a {
	height: 30px;
	overflow: hidden;
	background: transparent;
	padding-inline: 16px;
}

.fourColumnTileMainContainer h1 {
	padding-inline: 16px;
	margin-bottom: 24px
}

.fourColumnTileMainContainer .item a span {
	color: #000;
	align-items: flex-start;
	width: calc(100% - 48px);
	left: 8px;
	padding: 16px;
}

.fourColumnTileMainContainer .item a>img {
	display: none;
}

.fourColumnTileMainContainer .item a.js-active span {
	color: #000;
	align-items: flex-start;
	width: calc(100% - 16px);
	left: 8px;
	border-radius: 4px;
	background: rgba(37, 79, 151, 0.10);
}

[description-list] {
	display: none;
}

@media (max-width: 768px) {
	section.hotel-promotions {
		grid-template-columns: 1fr;
	}

	section.hotel-promotions article {
		padding-inline: clamp(1em, 3vw, 32px);
	}

	section.hotel-promotions .promotions-list__item {
		display: block;
	}

	section.hotel-promotions .promotions-list__item .info {
		flex-direction: column;
		gap: 14px
	}

	section.hotel-promotions h2,
	section.hotel-promotions p {
		color: #000;
		width: 100%
	}

	section.hotel-promotions .promotions-list__item .actions>a {
		width: 100%;
	}

	section.hotel-promotions .promotions-list__item .actions>p {
		width: 100%;
		padding: 0
	}

	section.hotel-promotions .promotions-list__item .actions {
		flex-direction: column;
		align-items: flex-start;
	}

	section.hotel-promotions .promotion-list__poster {
		padding: 0;
		background: unset;
	}

	[data-module="FourColumnTile"] .fourColumnTileMainContainer>.row {
		flex-wrap: nowrap;
		overflow-x: scroll;
		scroll-snap-type: x mandatory;
		gap: 2em;
		padding-inline: clamp(1em, 3vw, 32px);
	}

	[data-module="FourColumnTile"] .fourColumnTileMainContainer>.row>* {
		scroll-snap-align: start;
		aspect-ratio: 2/1;
		margin: 0;
		padding: 0;
		border-radius: 16px;
	}

	.fourColumnTileMainContainer .item a span {
		bottom: 0.5em;
		height: auto;
		justify-content: flex-end;
		font-size: 2em;
	}


	.fourColumnTileMainContainer .item a img {
		height: 100%;
		object-fit: cover;
		border-radius: 16px;
		opacity: 0.7;
	}

	.notcritical .container .rightcol h1 {
		font-size: 4em;
		font-weight: 300;
		font-family: 'BlissPro';
	}

	.contentLayout-BaseContainer .notcritical .container {
		padding: 0;
	}

	section.hotel-promotions .contenu {
		padding: 0;
	}
}