include ./mixins/block-generator.pug

link(rel="stylesheet", href="./style.css")
section.hotel-promotions
	nav
	article
		.promotions
			+promotion-generator(locals.sunmar)
script(src="./index.js", type="module") 