@import url('./css/fonts.less');
@import url('./css/layout.less');
@import url('./css/left-navigation.less');
@import url('./css/content.less');

:root {
	--sunmar-font: 'BlissPro', sans-serif;
	--sunmar-gradient: linear-gradient(225deg, #E7317D 0%, #D8242A 100%);
	--sunmar-main-blue: #0e2855;
	--sunmar-grey: #777777;
	--black: #000000;
	--white: #ffffff;
}

html {
	scroll-behavior: smooth;
}

.notcritical .container .row {
	display: none;
}

.contentLayout-BaseContainer .notcritical .container {
	margin-top: 0 !important;
}

.contentLayout-BaseContainer .notcritical {
	padding-top: 0 !important;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
