section.hotel-promotions {
	font-family: 'museosans', sans-serif;
}

section.hotel-promotions>article .contenu {
	padding-top: 2em;
}

section.hotel-promotions>article h4 {
	color: #0093d0;
	font-size: 20px;
}

section.hotel-promotions>article .promotions h4 {
	padding-left: 12px;
	margin: 0;
}

section.hotel-promotions>article a:focus,
section.hotel-promotions>article button:focus {
	cursor: pointer;
	outline: none;
}

section.hotel-promotions>article .navigation {
	width: 100%;
	z-index: 2;
	grid-row-gap: 1em;
	grid-column-gap: 1em;
	background-color: #fff;
	border-radius: 1em;
	grid-template-columns: 1fr max-content;
	padding: 1em;
	display: grid;
	position: relative;
	box-shadow: 0 8px 24px rgba(149, 157, 165, 0.2);
}

section.hotel-promotions>article .navigation-list {
	grid-row: 2/3;
	align-self: center;
	gap: 1em;
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	overflow: auto;
	scroll-snap-type: x proximity;
}

section.hotel-promotions>article .navigation-list::-webkit-scrollbar {
	display: none;
}

section.hotel-promotions>article .promotions::-webkit-scrollbar {
	display: none;
}


section.hotel-promotions>article .navigation-list__item {
	scroll-snap-align: start;
}

section.hotel-promotions>article .navigation-list__item button {
	display: block;
	color: #000;
	background-color: #fff;
	border-radius: 24px;
	font-size: 14px;
	padding: 0.9em 1.8em;
	font-weight: 400;
	text-decoration: none;
	transition: all 0.3s;
	border: none;
	cursor: pointer;
}

section.hotel-promotions>article .navigation-list__item button:hover {
	color: rgba(0, 147, 208, 1);
}

section.hotel-promotions>article .navigation-list__item button.js-active {
	color: #fff;
	background-color: #0093d0;
}

section.hotel-promotions>article .navigation__btns {
	grid-area: 2/2/3/3;
	display: flex;
	align-items: center;
	gap: 4px;
	align-self: center;
}

@media (max-width: 768px) {
	section.hotel-promotions>article .navigation__btns {
		display: none;
	}
}

section.hotel-promotions>article .navigation__btn {
	width: 40px;
	height: 40px;
	border: 1px solid rgba(0, 0, 0, 0.15);
	border-radius: 8px;
	margin: 0;
	padding: 0;
	box-shadow: 0 2px rgba(0, 0, 0, 0.02);
}

section.hotel-promotions>article .navigation__btn--left {
	background-color: #fff;
	background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.666 5.833 7.5 10l4.166 4.167' stroke='%23535353' stroke-linejoin='round'/%3E%3C/svg%3E"),
		none;
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: 50%;
	background-attachment: scroll, scroll;
	background-origin: padding-box, padding-box;
	background-clip: border-box, border-box;
}

section.hotel-promotions>article .navigation__btn--right {
	background-color: #fff;
	background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.5 5.833 11.667 10 7.5 14.167' stroke='%23535353' stroke-linejoin='round'/%3E%3C/svg%3E"),
		none;
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: 50%;
	background-attachment: scroll, scroll;
	background-origin: padding-box, padding-box;
	background-clip: border-box, border-box;
}