@import url('./css/fonts.less');
@import url('./css/left-navigation.less');
@import url('./css/navigation.less');
@import url('./css/content.less');
@import url('./css/custom-modal.less');

.contentLayout-BaseContainer .notcritical .container {
	margin-top: 0 !important;
}

.contentLayout-BaseContainer .notcritical {
	padding-top: 0 !important;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
